.movie-cover {
  height: 180px;
  width: 100%;
  transition: 0.3s;
  opacity: 0.8;
}
.movie-cover:hover {
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
  transform: scale(1.05);
}
.title-saga {
  color: white;
}

.bg-black {
  background-color: black;
  padding: 20px;
}
.movie-row {
  margin-top: 20px;
  margin-bottom: 50px;
}
.carousel-indicators li {
  visibility: hidden;
}
